<section class="benefits__section">

		<ul class="benefits__canvas">
			<li>
				<div class="benefits__elem--first">
					<picture class="benefits__clock">
						<source srcset="img/benefits__clock.png" type="image/webp">
						<img src="img/benefits__clock.png" alt="clock">
					</picture>

					<span>
						<h3>Быстрая доставка</h3>
						<p>Доставим бесплатно от 2000 ₽ по всей России</p>
					</span>
				</div>


				<div class="benefits__elem--second">
					<picture class="benefits__star">
						<source srcset="img/benefits__star.png" type="image/webp">
						<img src="img/benefits__star.png" alt="clock">
					</picture>

					<span>
						<h3>Бонусная программа</h3>
						<p>Дополнительная скидка 15% при регистрации</p>
					</span>
				</div>
			</li>

			<li>
				<div class="benefits__elem--third">
					<picture class="benefits__bag">
						<source srcset="img/benefits__bag.png" type="image/webp">
						<img src="img/benefits__bag.png" alt="clock">
					</picture>

					<span>
						<h3>Большой выбор</h3>
						<p>Ежегодно выходит в свет более 100 наименований книг</p>
					</span>
				</div>


				<div class="benefits__elem--fourth">
					<picture class="benefits__card">
						<source srcset="img/benefits__card.png" type="image/webp">
						<img src="img/benefits__card.png" alt="clock">
					</picture>

					<span>
						<h3>Безопасная оплата</h3>
						<p>Плати безопасно и легко онлайн на нашем сайте</p>
					</span>
				</div>
			</li>

			<li>
				<div class="benefits__elem--first">
					<picture class="benefits__clock">
						<source srcset="img/benefits__clock.png" type="image/webp">
						<img src="img/benefits__clock.png" alt="clock">
					</picture>

					<span>
						<h3>Быстрая доставка</h3>
						<p>Доставим бесплатно от 2000 ₽ по всей России</p>
					</span>
				</div>

				<div class="benefits__elem--fourth">
					<picture class="benefits__card">
						<source srcset="img/benefits__card.png" type="image/webp">
						<img src="img/benefits__card.png" alt="clock">
					</picture>

					<span>
						<h3>Безопасная оплата</h3>
						<p>Плати безопасно и легко онлайн на нашем сайте</p>
					</span>
				</div>

				<div class="benefits__elem--second">
					<picture class="benefits__star">
						<source srcset="img/benefits__star.png" type="image/webp">
						<img src="img/benefits__star.png" alt="clock">
					</picture>

					<span>
						<h3>Бонусная программа</h3>
						<p>Дополнительная скидка 15% при регистрации</p>
					</span>
				</div>


				<div class="benefits__elem--third">
					<picture class="benefits__bag">
						<source srcset="img/benefits__bag.png" type="image/webp">
						<img src="img/benefits__bag.png" alt="clock">
					</picture>

					<span>
						<h3>Большой выбор</h3>
						<p>Ежегодно выходит в свет более 100 книг</p>
					</span>
				</div>


			</li>
		</ul>
</section>