<section class="news__section">
	
	<div class="books__header">
		<h2>
			Новости
		</h2>
		<ul>
			<li>
			    <button>
					{% include 'assets/svg/books__left-arrow.svg' %}
			    </button>
			</li>

			<li>
			    <button>
					{% include 'assets/svg/book__right-arrow.svg' %}
			    </button>
			</li>
		</ul>
	</div>



	<div class="news__main">
		<ul>
			<li>
				<picture class="news__img">
					<source srcset="img/news__first-img.png" type="image/webp">
					<img src="img/news__first-img.png" alt="news">
				</picture>
				<p class="news__date">16 июня 2020</p>
				<h4 class="news__title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h4>
				<p class="news__description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<button>Читать</button>
			</li>

			<li>
				<picture class="news__img">
					<source srcset="img/news__second-img.png" type="image/webp">
					<img src="img/news__second-img.png" alt="news">
				</picture>
				<p class="news__date">16 июня 2020</p>
				<h4 class="news__title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h4>
				<p class="news__description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<button>Читать</button>
			</li>

			<li>
				<picture class="news__img">
					<source srcset="img/news__third-img.png" type="image/webp">
					<img src="img/news__third-img.png" alt="news">
				</picture>
				<p class="news__date">16 июня 2020</p>
				<h4 class="news__title">Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h4>
				<p class="news__description">18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				<button>Читать</button>
			</li>
		</ul>
	</div>


	<div class="news__footer">
		<button>Показать все новости</button>
	</div>
</section>