<section class="subscribe__section">
	<h2>Скидка 
	<span>
		200 ₽
		{% include 'assets/svg/subscribe__vector.svg' %}
	</span>
	при подписке на рассылку Издательства</h2>
	
	<div>
		<input type="text" placeholder="Введите ваш Email"> 
		<button>Подписаться</button>
	</div>
</section>