{% extends "layouts/layout.twig" %}

{% block page %}
{# 	<div class="container">
		<p>В самом начале - расписываем все компоненты, придумываем названия</p>
		<p>Пример подключения картинки</p>
		<picture>
			<source srcset="img/logo.webp" type="image/webp">
			<img src="img/logo.png" alt="Logo" width="57px">
		</picture>
	</div> #}
	{#
		Пример подключения файла
		{% include '/blocks/component/component.twig' %}
		Пример подключения svg
		{% include '/assets/component/component.svg' %}

	#}
	{% include '/blocks/banners/banners.twig' %}
	{% include '/blocks/books/books.twig' %}
	{% include '/blocks/subscribe/subscribe.twig' %}
	{% include '/blocks/books__second/books.twig' %}
	{% include '/blocks/benefits/benefits.twig' %}
	{% include '/blocks/news/news.twig' %}
	{% include '/blocks/mailing/mailing.twig' %}



{% endblock %}
